#border{
    border:2px solid red;
    width:200px;
    height:200px;
    display:flex;
    flex-wrap:wrap;
}
#top{
    border-top:none;
}
.number{
    border:2px solid grey;
    border-left:none;
    border-right:none;
    border-bottom:none;
    background:blue;
    color:white;
    margin:0;
    width:100%;
    text-align:center;
}